@font-face {
    font-family: 'd-dinregular';
    src: url('assets/fonts/d-din-webfont.woff2') format('woff2'),
         url('assets/fonts/d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-dindin-bold';
    src: url('assets/fonts/d-din-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/d-din-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: auto;
    padding: 10px;
}

h2 {
    font-family: 'd-dindin-bold';
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
}

select, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
}

#map {
    height: 350px;
    margin: 12px 0;
    border: 1px solid #ccc;
}

button {
    background-color: #569602;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #2c5234;
}
